@import url(<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">);
@import url(<link rel="stylesheet" href="https://use.typekit.net/jvw3yqb.css">);

*, *::before, *::after {
  box-sizing: border-box;
}

.footerBody{
  padding: 0;
  margin: 0;
  font-family: Poppins;
  font-size: 15px;
  height: 150px;
}
.wholeFooter{
  background-color: #F1F0EC;
}

.col1, .col2, .col3, pages, follow{
  display: table-cell;
  font-size: 12px;
  color: inherit;
  text-decoration: none;

}

.Row{
  display: table;
  border-spacing: 10px;
  table-layout: fixed;
  width: 100%;

}

.title{
  font-family: "Poynter Oldstyle";
  font-size: 25px;

}

.copy{
  font-family: "Poppins";
  color: #909090;
  text-decoration: none;
  font-size: 11pt;


}

.col2, .col3{
  text-align: right;


}
.pages{
  font-size: 12px;
  vertical-align:top;



}
.follow{
  font-size: 12px;
  vertical-align:top;

}

li{
  clear: left;
  font-size: 12px;
  display: flex;
  margin-top: 0px;
  vertical-align:top;



}

ul{
  list-style: none;
  border: none;
  font-size: 0px;
  padding-bottom: 0px;
  vertical-align:top;


}
nav a{
  line-height: 25px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  border-spacing: 10px;
  vertical-align:bottom;
  display: inline-block;


}

