@import url(<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">);
@import url(<link rel="stylesheet" href="https://use.typekit.net/jvw3yqb.css">);


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: Poppins;
    font-size: 1.2rem;
    min-height: 100vh;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: black;
    text-decoration: none;
}

.brand-logo-name {
    margin-left: 1rem;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    text-decoration: underline;
}

.main-header {
    background-color: #F1F0EC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 100%
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 40px;
}


/* header {
    background-color: #F1F0EC;
    width: 1920px;
    height: 100px;
    font-family: "Poppins";
    margin: 0 0 0 0;
    overflow: hidden;
    padding: 25px 50px 25px 50px;
}

header .logo{
    font-size: 25px;
    font-weight: bold;
    line-height: 100px;
}
  

nav a {
    float: left;
    color: black;
    text-align: center;
    border-radius: 4px;
    margin: 15px;
    text-decoration: none;
    font-size: 25;
    line-height: 75px;
}

nav a .last{
    padding-right: 50px;
}

header a:hover {
    text-decoration:underline;
    color: black;
}

header a.active {
    text-decoration:underline;
    color:black;
}

.header-right {
    float: right;
    height: 50px;
}


header a {
    float: none;
    display: block;
    text-align: left;
}
header-right {
    float: none;
}
} */